.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .todo-list input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .todo-list button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .todo-list button:hover {
    background-color: #45a049;
  }
  
  .todo-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #498e57;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .todo-list li.completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .todo-list li.completed button {
    background-color: #888;
  }
  
  .todo-list li button {
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }
  
  .todo-list li button:hover {
    background-color: #da190b;
  }
  