body{
  margin: 0;
  font-family: "Space Mono", monospace;
}
p{
  font-size: 3.5rem;
  color: white;
}
#main{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../src/assets/img/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-size: cover;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quotes h2 {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin: 0;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 5);
}


#quotes p {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 20px;
}

#name{
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 4rem;
}

.tabs{
  font-family: "Space Mono", monospace;
  font-size: 4rem;
  font-weight: bold;
  margin-right: 2%;
  margin-top: 2%;
  font-size:15px;
  padding:0px;
  list-style:none;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;  
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
}
.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}